<div>
    <div class="content-box">
        <a routerLink="/q1">
            <h3>Query 1</h3>     
        </a>
    </div>
    <div class="content-box">
        <a routerLink="/q2">
            <h3>Query 2</h3>     
        </a>
    </div>
    <div class="content-box">
        <a routerLink="/q3">
            <h3>Query 3</h3>     
        </a>
    </div>
    <div class="content-box">
        <a routerLink="/q4">
            <h3>Query 4</h3>     
        </a>
    </div>
    <div class="content-box">
        <a routerLink="/q5">
            <h3>Query 5</h3>     
        </a>
    </div>
    <div class="content-box">
        <a routerLink="/q6">
            <h3>Query 6</h3>     
        </a>
    </div>
    <div class="content-box">
        <a routerLink="/q7">
            <h3>Query 7</h3>     
        </a>
    </div>
    <div class="content-box">
        <a routerLink="/q8">
            <h3>Query 8</h3>     
        </a>
    </div>
</div>
<a routerLink="/add-object">
    <button>Add Object</button>
</a>


<!-- *ngFor="let listing of listings" -->